.container 
	font-size 12px
	
.linktable
	width 930px
	margin 2em

.while-space
	padding-top 48px
	padding-bottom 48px
		
.save
.newandsave
	margin 1em 0em
	overflow hidden
.save-btn
	background #000
	color #fff
	-webkit-border-radius 0px
	-moz-border-radius 0px
	-o-border-radius 0px
	border-radius 0px
	border 0px
	padding 0.5em 2.5em
	
.newt-btn
	background #029ded
	color #fff
	-webkit-border-radius 0px
	-moz-border-radius 0px
	-o-border-radius 0px
	border-radius 0px
	border 0px
	padding 0.5em 2.5em
	
.new-item
	background #d9d8d8
	color #000
	-webkit-border-radius 0px
	-moz-border-radius 0px
	-o-border-radius 0px
	border-radius 0px
	border 0px
	padding 0.5em 1em
	&:hover
		background #999
.col-centered
	margin 0 auto
	float none


.filters
	background #f4f3f3
	margin-top 1em
	border 1px solid #ccc
	border-bottom none
	
	label
		text-transform uppercase
		margin-right 0.5em

	.marca
	.for 
		display inline-block
		padding 0.5em 0em 0.5em 1em
		
	.marca
		border-right 1px solid #ccc
		float left
		width 321px
		font-style italic
		
	.for
		float rigth
		padding-left 1em
		width 600px
		select
			background #d9d8d8
			font-weight bold
			option
				color #d9d8d8
.data
	.tallas
		display table-cell
		vertical-align top
		aling-items center
		.size 			
			.n
				display table-cell
				width 32px 
				input 
					width 100%
					display block
					width 100%
					height 34px
					font-size 14px
					line-height 1.42857143
					color #555
					background-color #fff
					background-image none
					border 1px solid #ccc
					border-radius 0px

	.info
		width 321px
		display table-cell
		.model
		.sku
		.variedad
		.totalp
			border-right 1px solid #ccc
			display table-cell
			text-transform uppercase
			font-weight bold
			vertical-align middle
			input 
				width 100%
				border-radius 0px
		.model
			width 86px
			
		.sku
			width 80px
			
		.variedad
			width 90px
			
		.totalp
			width 65px		

.headers
	text-align center
	font-weight bold
	border 1px solid #ccc	
	
	.info
		border-left 1px solid #ccc
		display table-cell
		width 321px
		&:nth-child(1)
			border-left none
		.model
		.sku
		.variedad
		.totalp
			border-right 1px solid #ccc
			display table-cell
			padding 1em 
			text-transform uppercase
			text-align center
			vertical-align middle
			input
				width 100%
				display block
				width 100%
				height 34px
				font-size 14px
				line-height 1.42857143
				color #555
				background-color #fff
				background-image none
				border 1px solid #ccc
				border-radius 0px

		.model
			width 86px
			
		.sku
			width 80px
			
		.variedad
			width 90px
			
		.totalp
			width 65px		

	.tallas
		display table-cell
		vertical-align top
		aling-items center
		
		.title
			padding 0.5em 0
			border-bottom 1px solid #ccc
		.size 			
			.n
				display table-cell
				padding 0.5em 0em 0.5em 0em
				border-right 1px solid #ccc
				width 32px 
				&:nth-last-of-type(1)
					border-right none





